         <!-- End of .cart_list
        </div>
        <div class="cart_option float_left">
          <button class="cart tran3s dropdown-toggle" id="cartDropdown">
            <i class="fa icon-icon-32846" aria-hidden="true"></i
            ><span class="s_color_bg p_color">2</span>
          </button>
          <div class="cart-info">
            <div>My Cart</div>
            <div class="doller">84.00$</div>
          </div>

          <div class="cart_list color2_bg" aria-labelledby="cartDropdown">
            <ul>
              <li>
                <div class="cart_item_wrapper clear_fix">
                  <div class="img_holder float_left">
                    <img
                      src="{{url_for('static', filename = 'images/shop/9.png')}}  "
                      alt="Cart Image"
                      class="img-responsive"
                    />
                  </div>
                  <!-- End of .img_holder -->

                  <div class="item_deatils float_left">
                    <h6>Turmeric Powde</h6>
                    <ul>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <span class="font_fix">$ 34.99</span>
                  </div>
                  <!-- End of .item_deatils -->
                </div>
                <!-- End of .cart_item_wrapper -->
              </li>

              <li>
                <div class="cart_item_wrapper clear_fix">
                  <div class="img_holder float_left">
                    <img
                      src="{{url_for('static', filename = 'images/shop/10.png')}}  "
                      alt="Cart Image"
                      class="img-responsive"
                    />
                  </div>
                  <!-- End of .img_holder -->

                  <div class="item_deatils float_left">
                    <h6>Pure Jeans Coffee</h6>
                    <ul>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <span class="font_fix">$ 26.99</span>
                  </div>
                  <!-- End of .item_deatils -->
                </div>
                <!-- End of .cart_item_wrapper -->
              </li>

              <li>
                <div class="cart_item_wrapper clear_fix">
                  <div class="img_holder float_left">
                    <img
                      src="{{url_for('static', filename = ' images/shop/11.png')}} "
                      alt="Cart Image"
                      class="img-responsive"
                    />
                  </div>
                  <!-- End of .img_holder -->

                  <div class="item_deatils float_left">
                    <h6>Columbia Chocolate</h6>
                    <ul>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <span class="font_fix">$ 26.99</span>
                  </div>
                  <!-- End of .item_deatils -->
                </div>
                <!-- End of .cart_item_wrapper -->
              </li>