<div class="bottom_footer clear_fix">
  <div class="container">
    <h6 class="pull-left">
      Copyrights © 2015 All Rights Reserved by<a
        href="https://www.coderschool.vn/en/"
        target="_blank"
      >
        CoderSchool</a
      >
    </h6>
    <ul class="social_icon pull-right">
      <li>
        <a href="#" class="tran3s"
          ><i class="fa fa-cc-visa" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="#" class="tran3s"
          ><i class="fa fa-cc-mastercard" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="#" class="tran3s"
          ><i class="fa fa-paypal" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="#" class="tran3s"
          ><i class="fa fa-credit-card-alt" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="#" class="tran3s"
          ><i class="fa fa-cc-discover" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
