{% macro render_bottom_header(name,img_url) -%}
<div class="bottom_header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="search-box">
          <form action="#" class="clearfix">
            <input type="text" placeholder="Search..." />
            <button><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-6 logo-responsive">
        <div class="logo-area">
          <a href="{{ url_for('index') }}" class="pull-left logo"
            ><img
              src="{{url_for('static', filename = 'images/logo/logo.png')}}  "
              alt="LOGO"
          /></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-7 col-xs-6 pdt-14">
        <div class="login_option float_left">
          <div class="login_form">
            <div class="user">
              {% if img_url %}
              <img
                style="border-radius: 50%"
                src="{{ img_url }}"
                width="50"
                height="50"
                alt=""
              />
              {% else %}
              <i class="icon-photo"></i>
              {% endif %}
            </div>
            <div class="login-info">
              {% if name %}
              <div class="welcome">Welcome! {{ name }}</div>
              <a href="{{ url_for('logout') }}">Logout</a>
              {% else %}
              <div class="welcome">
                Welcome! Guest </div>
                <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
                <!-- select menu -->
              </div>
            </div>
          </div>
          <!-- End of .cart_list -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of .bottom_header -->
{%- endmacro %}
