<!-- Js File_________________________________ -->

<!-- j Query -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/jquery-2.1.4.js')}} "
></script>
<!-- Bootstrap JS -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/bootstrap.min.js')}}  "
></script>

<!-- Vendor js _________ -->
<!-- Google map js -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>  -->
<!-- <script src="js/gmap.js"></script> -->
<!-- owl.carousel -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/owl.carousel.min.js')}} "
></script>
<!-- ui js -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/jquery-ui.min.js')}} "
></script>
<!-- Responsive menu-->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/menuzord.js')}} "
></script>
<!-- revolution -->
<script src="{{url_for('static', filename = 'vendor/revolution/jquery.themepunch.tools.min.js')}} "></script>
<script src="{{url_for('static', filename = 'vendor/revolution/jquery.themepunch.revolution.min.js')}} "></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'vendor/revolution/revolution.extension.slideanims.min.js')}} "
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'vendor/revolution/revolution.extension.layeranimation.min.js')}} "
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'vendor/revolution/revolution.extension.navigation.min.js')}} "
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'vendor/revolution/revolution.extension.kenburn.min.js')}} "
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'vendor/revolution/revolution.extension.actions.min.js')}} "
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'vendor/revolution/revolution.extension.parallax.min.js')}} "
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'vendor/revolution/revolution.extension.migration.min.js')}} "
></script>

<!-- landguage switcher js -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/jquery.polyglot.language.switcher.js')}} "
></script>
<!-- Fancybox js -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/jquery.fancybox.pack.js')}} "
></script>
<!-- js count to -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/jquery.appear.js')}} "
></script>
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/jquery.countTo.js')}} "
></script>
<!-- WOW js -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/wow.min.js')}} "
></script>

<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/SmoothScroll.js')}} "
></script>

<script src="{{url_for('static', filename = 'js/bootstrap-select.min.js')}} "></script>
<script src="{{url_for('static', filename = ' js/jquery.mixitup.min.js')}}"></script>
<!-- Theme js -->
<script
  type="text/javascript"
  src="{{url_for('static', filename = 'js/theme.js')}} "
></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename = ' js/google-map.js')}}"></script> -->
