<div class="wrapper">
  <div class="sidebar_search">
    <form action="#">
      <input type="text" placeholder="Search heare..." />
      <button class="tran3s color1_bg">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <!-- End of .sidebar_styleOne -->

  <div class="sidebar_categories">
    <div class="theme_inner_title">
      <h4>Categories</h4>
    </div>
    <ul>
      <li><a href="#" class="tran3s">Vegetables (15)</a></li>
      <li><a href="#" class="tran3s">Fruits & Drinks (06)</a></li>
      <li><a href="#" class="tran3s">Fresh Meat (12)</a></li>
      <li><a href="#" class="tran3s">Beauty Care (14)</a></li>
    </ul>
  </div>
  <!-- End of .sidebar_categories -->

  <div class="popular_news">
    <div class="theme_inner_title">
      <h4>popular news</h4>
    </div>

    <div class="recent-posts">
      <div class="post">
        <div class="post-thumb">
          <a href="#"
            ><img
              src="{{url_for('static', filename = 'images/blog/p1.jpg')}}"
              alt=""
          /></a>
        </div>
        <h4><a href="#">How to make organic foods in store?</a></h4>
        <div class="post-info"><i class="fa fa-clock-o"></i>17st Aug, 2015</div>
      </div>
      <div class="post">
        <div class="post-thumb">
          <a href="#"
            ><img
              src="{{url_for('static', filename = 'images/blog/p2.jpg')}} "
              alt=""
          /></a>
        </div>
        <h4><a href="#">How to make organic foods in store?</a></h4>
        <div class="post-info"><i class="fa fa-clock-o"></i>21st Aug, 2015</div>
      </div>
      <div class="post">
        <div class="post-thumb">
          <a href="#"
            ><img
              src="{{url_for('static', filename = 'images/blog/p3.jpg')}} "
              alt=""
          /></a>
        </div>
        <h4><a href="#">How to make organic foods in store?</a></h4>
        <div class="post-info"><i class="fa fa-clock-o"></i>24st Aug, 2015</div>
      </div>
    </div>
  </div>

  <div class="sidebar_categories">
    <div class="theme_inner_title">
      <h4>archive</h4>
    </div>
    <ul>
      <li><a href="#" class="tran3s">February 2016</a></li>
      <li><a href="#" class="tran3s">January 2016</a></li>
      <li><a href="#" class="tran3s">October 2015</a></li>
      <li><a href="#" class="tran3s">August 2015 </a></li>
    </ul>
  </div>
  <!-- End of .sidebar_categories -->

  <div class="single-sidebar">
    <div class="theme_inner_title">
      <h4>Instagram Photos</h4>
    </div>
    <ul class="instagram-feed">
      <li>
        <div class="img-holder">
          <img
            src="{{url_for('static', filename = 'images/gallery/i1.jpg')}} "
            alt="Awesome Image"
          />
          <div class="overlay">
            <div class="icon-holder">
              <a href="#"><span class="icon-link2"></span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="img-holder">
          <img
            src="{{url_for('static', filename = 'images/gallery/i2.jpg')}} "
            alt="Awesome Image"
          />
          <div class="overlay">
            <div class="icon-holder">
              <a href="#"><span class="icon-link2"></span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="img-holder">
          <img
            src="{{url_for('static', filename = 'images/gallery/i3.jpg')}}  "
            alt="Awesome Image"
          />
          <div class="overlay">
            <div class="icon-holder">
              <a href="#"><span class="icon-link2"></span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="img-holder">
          <img
            src="{{url_for('static', filename = 'images/gallery/i4.jpg')}} "
            alt="Awesome Image"
          />
          <div class="overlay">
            <div class="icon-holder">
              <a href="#"><span class="icon-link2"></span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="img-holder">
          <img
            src="{{url_for('static', filename = 'images/gallery/i5.jpg')}}  "
            alt="Awesome Image"
          />
          <div class="overlay">
            <div class="icon-holder">
              <a href="#"><span class="icon-link2"></span></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="img-holder">
          <img
            src="{{url_for('static', filename = 'images/gallery/i6.jpg')}}  "
            alt="Awesome Image"
          />
          <div class="overlay">
            <div class="icon-holder">
              <a href="#"><span class="icon-link2"></span></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="sidebar_tags wow fadeInUp">
    <div class="theme_inner_title">
      <h4>product Tags</h4>
    </div>

    <ul>
      <li><a href="#" class="tran3s">fruits</a></li>
      <li><a href="#" class="tran3s">Cosmetics</a></li>
      <li><a href="#" class="tran3s">Farmers</a></li>
      <li><a href="#" class="tran3s">Healthy</a></li>
      <li><a href="#" class="tran3s">Catering</a></li>
      <li><a href="#" class="tran3s">Chemical</a></li>
      <li><a href="#" class="tran3s">Post Format</a></li>
      <li><a href="#" class="tran3s">Industry</a></li>
      <li><a href="#" class="tran3s">Research</a></li>
    </ul>
  </div>
  <!-- End of .sidebar_tags -->
</div>
<!-- End of .wrapper -->
