{% from "includes/bottom-header.html" import render_bottom_header %}
{% from "macros/bread-crumb.html" import render_breadcrumb %}
{% extends "layout.html" %} {% block title %} Blog {% endblock %} {% block
header %}
{{ super() }}
{{ render_bottom_header(current_user.user_name,current_user.img_url) }} {% endblock %} {% block main %}
			<!-- Menu ******************************* -->
			{% include 'includes/navigation.html' %}
			<!-- End of .theme_menu -->
			{{render_breadcrumb(author.last_name,page_name)}}

		<section class="news single_news_page with_sidebar news_single">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-12">
						<div class="single_left_bar">
							<div class="blogList_single_post clear_fix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
										<div class="img_holder">
									<img src="{{post.img_url}}  " alt="News" class="img-responsive">
									<div class="opacity tran3s">
										<div class="icon">
											<span><a href="#" class="border_round"><i class="fa fa-heart"></i></a></span>
										</div> <!-- End of .icon -->
									</div> <!-- End of .opacity -->
								</div> <!-- End of .img_holder -->
								<div class="post">
										
									<div class="text">
										<h4><a href="#">{{post.title}}</a></h4>
										<ul>
											<li><a href="#" class="tran3s"><i class="fa fa-user" aria-hidden="true"></i> {{author.last_name}}</a></li>
											<li><a href="#" class="tran3s"><i class="fa fa-tag" aria-hidden="true"></i> Healthy</a></li>
											<li><a href="#" class="tran3s"><i class="fa fa-clock-o" aria-hidden="true"></i>{{post.updated_date}}</a></li>
											<li><a href="#" class="tran3s"><i class="fa fa-comments" aria-hidden="true"></i> 26</a></li>
											<li><a href="#" class="tran3s"><i class="fa fa-heart" aria-hidden="true"></i> {{post.view_count}}</a></li>
										</ul>
										<p>{{post.body}}.</p><p>
										{{post.body}}</p>
										
									</div>
									<div class="qoute">
										<h3>
										 {{post.quote}}</h3>
										 <span class="author color1">-{{author.first_name}} {{author.last_name}}-	</span>
									</div>
									<div class="text"><p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis incidunt doloribus voluptatem velit, quaerat illum? Minus beatae dolor dolorum ipsa vel facere! Ullam nam perspiciatis dolorem animi, corrupti aperiam ut. </p></div>
									<div class="share_option clear_fix">
										<h4 class="float_left">If you like this post, please share to others.</h4>
										<ul class="social_icon float_left">
													<li><a href="#" class="tran3s" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
													<li><a href="#" class="tran3s" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
													<li><a href="#" class="tran3s" title="Linkedin"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
													<li><a href="#" class="tran3s" title="Youtube"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
									</div>
								</div> <!-- End of .post -->

								<div class="author-post">
									<div class="comment-box">
														<div class="theme_title ">
																<h2>about author</h2>
																
														</div>
														<div class="single-comment-box">
																<div class="img-box">
																		<img src="{{author.img_url}}">
																</div>
																<div class="text-box">
																		<div class="top-box">
																				<h2>{{author.first_name}} {{author.last_name}}</h2>
																			 
																		</div>
																		<div class="content">
																				<p>How all this mistaken idea of denouncing pleasures and praising  ours pains was born and I will give you sed a works complete account of the system, and expound the actual teachings off the greatest seds explorer of thats truth, that master-builders of human happiness pleasure and praising will give you a complete.</p>
																				<ul class="social_icon author_icon">
																<li><a href="#" class="tran3s" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
																<li><a href="#" class="tran3s" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
																<li><a href="#" class="tran3s" title="Linkedin"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
																<li><a href="#" class="tran3s" title="Youtube"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
															</ul>
																		</div>
																</div>
														</div>
												</div>
								</div>
								<div class="comment-box">
													<div class="theme_title ">
															<h2>Comments (2)</h2>
															
													</div>
													<div class="single-comment-box">
															<div class="img-box">
																	<img src="https://randomuser.me/api/portraits/women/90.jpg" alt="Awesome Image">
															</div>
															<div class="text-box">
																<div class="clearfix">
																	 <div class="top-box float_left">
																				<h2>Michel Kong</h2>
																		</div>
																		<div class="float_right">
															<span class="p_color">Posted on Aug 11.00am </span>
															<ul>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
													</ul>
														</div>
																</div>
																	 
																	<div class="content">
																			<p>Mistaken idea of denouncing pleasure and praising pain was borns and I will give you a seds complete account of that system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness No one rejects, dislikes, or avoids pleasure itself, because it is pleasure explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a completed</p>
																			<a href="#" class="color1 tran3s"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
																	</div>
															</div>
													</div>
													<div class="single-comment-box comment-reply">
															<div class="img-box">
																	<img src="https://randomuser.me/api/portraits/men/67.jpg" alt="Awesome Image">
															</div>
															<div class="text-box">
																	<div class="clearfix">
																	 <div class="top-box float_left">
																				<h2>Jeorge Meckey</h2>
																		</div>
																		<div class="float_right">
															<span class="p_color">Posted on Aug 11.00am </span>
															<ul>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
														<li><i class="fa fa-star" aria-hidden="true"></i></li>
													</ul>
														</div>
																</div>
																	<div class="content">
																			<p>Pleasure and praising pain was born and I will give you sed complete account of systems and expounds the actual teachings of the great explorer of the truth, the master-builder of human our happiness will account of the system pain born mistaken idea of denouncing and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness pursue pleasure rationally encounter.</p>
																			<a href="#" class="color1 tran3s"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
																	</div>
															</div>
													</div>
											</div>
											<div class="reply-box">
													<div class="theme_title ">
															<h2>leave a commet</h2>
													</div>
													<div class="row">
															<div class="col-md-12">
																	<textarea placeholder="Comments"></textarea>
															</div>
															<!-- /.col-md-12 -->
															<div class="col-md-6">
																	<input type="text" placeholder="Your Name*">
															</div>
															<!-- /.col-md-6 -->
															<div class="col-md-6">
																	<input type="text" placeholder="Your Email*">
															</div>
															<!-- /.col-md-6 -->
															<div class="col-md-12">
																	<input type="text" placeholder="Your Website">
															</div>
															<!-- /.col-md-6 -->
															<div class="col-md-12">
																	<button type="submit" class="color1_bg">Post Comment</button>
															</div>
															<!-- /.col-md-12 -->
													</div>
													<!-- /.row -->
											</div>
									</div>
							
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
							<!-- _______________________ SIDEBAR ____________________ -->
							{% include 'includes/side-bar.html' %}
							<!-- End of .sidebar_styleTwo -->
					</div>	
				</div>
			</div>
		</section>
{% endblock %}
{% block footer %}
					{% include 'includes/main-footer.html' %}
					{{ super() }}
			{% endblock %}