{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block
header %}
{{ super() }}
{% include 'includes/bottom-header.html'%} {% endblock %} {% block main %}

<section
  class="breadcrumb-area"
  style="background-image:url({{url_for('static', filename = 'images/background/2.jpg')}}  );"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs text-center">
          <h1>Login</h1>
          <h4>Welcome to Coder School Organic Blog</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-5 col-sm-5">
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </li>
            <li>Login</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-7 col-sm-7">
          <p>We provide <span>100% organic</span> products</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Account Page Content*********************** -->
<div class="account_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 login_form">
        <div class="theme-title">
          <h2>Login Now</h2>
        </div>
        <form method="POST">
          <div class="form_group">
            <label>Email</label>
            <div class="input_group">
              <input
                type="text"
                placeholder="Enter your email"
                name="email"
                id="email"
                required
              />
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <!-- End of .input_group -->
          </div>
          <!-- End of .form_group -->

          <div class="form_group">
            <label>Password</label>
            <div class="input_group">
              <input
                type="password"
                placeholder="********"
                name="password"
                id="password"
                required
              />
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <!-- End of .input_group -->
          </div>
          <!-- End of .form_group -->

          <div class="clear_fix">
            <div class="single_checkbox float_left">
              <input type="checkbox" id="remember" />
              <label for="remember">Remember me</label>
            </div>
            <!-- End .single_checkbox -->
            <a href="#" class="float_right">Forgot Password?</a>
          </div>
          <button type="submit" name="login" class="color1_bg tran3s">
            Login now
          </button>
        </form>
        <div class="theme-title pull-right">
          <a class="color1_bg tran3s" href="{{ url_for('signup') }}"
            ><h6 style="color:aliceblue; margin: 0.5em 1em">Sign Up</h6></a
          >
        </div>
      </div>
      <div class="col-lg-3 col-md-3"></div>
      <!-- End of .login_form -->
    </div>
    <!-- End of .row -->
  </div>
  <!-- End of .container -->
</div>
<!-- End of .account_page -->
{% endblock %}
