{% from "includes/bottom-header.html" import render_bottom_header %} {% from
"macros/bread-crumb.html" import render_breadcrumb %} {% extends "layout.html"
%} {% block title %} Profile {% endblock %} {% block header %}
{{ super() }}
{{ render_bottom_header(current_user.user_name) }} {% endblock %} {% block main
%} {% include 'includes/navigation.html' %}
{{ render_breadcrumb(current_user.user_name, page_name) }}

<section class="about-story">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <figure class="img-holder">
          <img
            src="{{url_for('static', filename ='images/about/3.jpg')}}"
            alt=""
          />
        </figure>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-text">
          <div class="theme_title">
            <h3>story about {{ current_user.user_name }}</h3>
          </div>
          <div class="about_quot">
            Our food should be our medicine,Our medicine organics should be our
            food your health.
          </div>
          <div class="text">
            <p>
              How all this mistaken idea of denouncing pleasure and praising
              pain was born and I will give you a complete account of the
              system, and expound the actual teachings of the great explorer of
              the truth, the master-builder of human happiness
            </p>
          </div>
          <div class="icon-box">
            <div class="single-item">
              <div class="icon"><i class="icon-wheat"></i></div>
              <div class="count">745+</div>
              <div class="name color1">Own Farm Houses</div>
            </div>
            <div class="single-item">
              <div class="icon"><i class="icon-nature-1"></i></div>
              <div class="count">2480+</div>
              <div class="name color1">Pastoral Farmers</div>
            </div>
          </div>
          <div class="text">
            <p>
              Denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, the actual teachings of the
              great explorer.
            </p>
          </div>
          <div class="link">
            <a href="{{ url_for('create_blog') }}" class="tran3s"
              >create new blog</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block footer %} {% include 'includes/main-footer.html' %}
{{ super() }}
{% endblock %}
