{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
header %}
{{ super() }}
{% include 'includes/bottom-header.html'%} {% endblock %} {% block main %}

<section
  class="breadcrumb-area"
  style="background-image:url({{url_for('static', filename = 'images/background/2.jpg')}}  );"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs text-center">
          <h1>Register</h1>
          <h4>Welcome to Coder School Organic Blog</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-5 col-sm-5">
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li>
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </li>
            <li>Register</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-7 col-sm-7">
          <p>We provide <span>100% organic</span> products</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Account Page Content*********************** -->
<div class="account_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 register_form">
        <div class="theme-title">
          <h2>Register Here</h2>
        </div>
        <form method="POST">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form_group">
                <label>Username</label>
                <div class="input_group">
                  <input type="text" name="user_name" id="usename" required />
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <!-- End of .input_group -->
              </div>
              <!-- End of .form_group -->

              <div class="form_group">
                <label>Password</label>
                <div class="input_group">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    required
                  />
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <!-- End of .input_group -->
              </div>
              <!-- End of .form_group -->

              <div class="form_group">
                <label>First Name</label>
                <div class="input_group">
                  <input type="text" name="first_name" id="first_name" />
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <!-- End of .input_group -->
              </div>
              <!-- End of .form_group -->
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form_group">
                <label>Email Address</label>
                <div class="input_group">
                  <input type="email" name="email" id="email" required />
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <!-- End of .input_group -->
              </div>
              <!-- End of .form_group -->

              <div class="form_group">
                <label>Confirm Password</label>
                <div class="input_group">
                  <input name="confirm_pass" type="password" />
                  <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </div>
                <!-- End of .input_group -->
              </div>
              <!-- End of .form_group -->

              <div class="form_group">
                <label>Last Name</label>
                <div class="input_group">
                  <input type="text" name="last_name" id="last_name" />
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <!-- End of .input_group -->
              </div>
              <!-- End of .form_group -->
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form_group">
                  <label>image url</label>
                  <div class="input_group">
                    <input name="img_url" id="img_url" type="text" />
                    <i class="fa fa-image" aria-hidden="true"></i>
                  </div>
                  <!-- End of .input_group -->
                </div>
                <!-- End of .form_group -->
              </div>
            </div>
          </div>
          <!-- End of .row -->

          <div class="clear_fix">
            <div class="single_checkbox float_left">
              <input type="checkbox" id="terms" />
              <label for="terms">I agree the term’s & conditions</label>
            </div>
            <!-- End .single_checkbox -->
          </div>
          <button type="submit" name="signup" class="color1_bg tran3s">
            Create Account
          </button>
        </form>
        <div class="theme-title pull-right">
          <a class="color1_bg tran3s" href="{{ url_for('login') }}"
            ><h6 style="color:aliceblue; margin: 0.5em 2em">login</h6></a
          >
        </div>
      </div>
      <!-- End of .register_form -->
      <div class="col-lg-2 col-md-2"></div>
      <!-- End of .login_form -->
    </div>
    <!-- End of .row -->
  </div>
  <!-- End of .container -->
</div>
<!-- End of .account_page -->
{% endblock %}
